/_changelog
/.DS_Store
/.editorconfig
/.firedev
/.gitignore
/.npmignore
/.npmrc
/.prettierignore
/.prettierrc
/.sass-cache
/.sourcemaps
/.taon
/.tnp
/.vscode/launch.json
/*.filetemplate
/*.rest
/*.schema.json
/*.sqlite
/**/.DS_Store
/**/.editorconfig
/**/.gitignore
/**/.npmignore
/**/.npmrc
/**/.prettierignore
/**/.prettierrc
/**/.taon
/**/.tnp
/**/*.filetemplate
/**/*.schema.json
/**/browser
/**/dist*
/**/eslint*
/**/index.d.ts
/**/index.js
/**/index.js.map
/**/node_modules
/**/package.json
/**/run.js
/**/tmp-*
/**/tsconfig*
/**/update-vscode-package-json.js
/**/vitest.config.ts
/**/webpack*
/**/websql
/browser
/BUILD-INFO.md
/chrome-profiler-events*.json
/cloud
/connect.lock
/coverage
/databases/**/*.json
/databases/**/*.sqlite
/dist
/dist-nocutsrc
/dist-nocutsrc-prod
/dist-prod
/dist*
/docs-config.schema.json
/eslint-rules
/eslint*
/incremental-compiler
/index.d.ts
/index.js
/index.js.map
/isomorphic-region-loader
/json10
/libpeerconnection.log
/local_release
/lodash-walk-object
/magic-renamer
/ng-talkback
/ng2-logger
/ng2-rest
/ng2-rest-swagger-generator
/node_modules
/node-cli-tester
/npm-debug.log
/npm-debug.log*
/package-lock.json
/package.json
/record-replay-req-res-scenario
/routes/*.rest
/run.js
/session
/speed-measure-plugin*.json
/src/app.auto-gen-docs.md
/src/app.auto-gen-ver.js
/src/app.hosts.ts
/src/assets/generated
/src/assets/shared/shared_folder_info.txt
/src/lib/env/**/*.*
/src/lib/lib-info.md
/src/lib/migrations/migrations-info.md
/src/tests/mocha-tests-info.md
/src/vars.scss
/static-columns
/taon
/taon-containers
/taon-simple-org
/taon-storage
/taon-type-sql
/taon-typeorm
/taon-ui
/testem.log
/Thumbs.db
/tmp-*
/tmp*
/tnp
/tnp-core
/tnp-helpers
/tsconfig*
/typescript-class-helpers
/update-vscode-package-json.js
/vitest.config.ts
/vpn-split
/webpack*
/websql
/yarn-error.log