# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/linked-repos



# System Files
.DS_Store
Thumbs.db


/node_modules
/tmp*
/dist*
/bundle*
/browser
/browser*
/websql
/websql*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/.npmrc
/tslint.json
/.editorconfig
/tsconfig.backend.dist.json
/tsconfig.backend.bundle.json




# container/workspace git projects
/any-project-cli
/background-worker-process
/firedev
/firedev-crud
/firedev-crud-deamon
/firedev-ports
/firedev-projects
/firedev-stor
/firedev-storage
/firedev-typeorm
/incremental-compiler
/isomorphic-region-loader
/isomorphic-storage
/json10
/json10-writer
/lodash-walk-object
/morphi
/ng2-logger
/ng2-rest
/ng2-rest-swagger-generator
/tnp
/tnp-cli
/tnp-config
/tnp-core
/tnp-db
/tnp-db-plugin
/tnp-helpers
/tnp-models
/tnp-tools
/typescript-class-helpers

# =====================
*.filetemplate
